[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/AndrewRadev/ack.vim.git
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = git://github.com/lilydjwg/colorizer.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/splitjoin.vim"]
	path = bundle/splitjoin.vim
	url = git@github.com:AndrewRadev/splitjoin.vim.git
[submodule "bundle/switch.vim"]
	path = bundle/switch.vim
	url = git://github.com/AndrewRadev/switch.vim.git
  ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "bundle/vim-afterimage"]
	path = bundle/vim-afterimage
	url = git://github.com/tpope/vim-afterimage.git
  ignore = untracked
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/AndrewRadev/vim-coffee-script.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-projectile"]
	path = bundle/vim-projectile
	url = git@github.com:tpope/vim-projectile.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = git@github.com:guns/vim-clojure-static.git
  ignore = untracked
[submodule "bundle/auto-complete-pop"]
	path = bundle/auto-complete-pop
	url = git@github.com:vim-scripts/AutoComplPop.git
  ignore = untracked
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
