[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/AndrewRadev/ack.vim.git
[submodule "bundle/colorizer"]
	path = bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/splitjoin.vim"]
	path = bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/switch.vim"]
	path = bundle/switch.vim
	url = https://github.com/AndrewRadev/switch.vim.git
  ignore = untracked
[submodule "bundle/vim-afterimage"]
	path = bundle/vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
  ignore = untracked
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
  ignore = untracked
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/vim-rust"]
	path = bundle/vim-rust
	url = https://github.com/wting/rust.vim.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/tristen/vim-sparkup.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/vim-projectionist"]
	path = bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "bundle/vim-crystal"]
	path = bundle/vim-crystal
	url = https://github.com/rhysd/vim-crystal.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "bundle/ale.vim"]
	path = bundle/ale.vim
	url = git@github.com:dense-analysis/ale.git
[submodule "bundle/vim-graphql"]
	path = bundle/vim-graphql
	url = git@github.com:jparise/vim-graphql.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/vim-mucomplete"]
	path = bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule "bundle/tagalong.vim"]
	path = bundle/tagalong.vim
	url = git@github.com:AndrewRadev/tagalong.vim.git
[submodule "bundle/vim-jsx-pretty"]
	path = bundle/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "bundle/tsuquyomi"]
	path = bundle/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "bundle/vim-tsx"]
	path = bundle/vim-tsx
	url = git@github.com:ianks/vim-tsx.git
[submodule "bundle/elixir-ls"]
	path = bundle/elixir-ls
	url = git@github.com:elixir-lsp/elixir-ls.git
[submodule "bundle/vim-move"]
	path = bundle/vim-move
	url = git@github.com:matze/vim-move.git
[submodule "bundle/vim-jsonpath"]
	path = bundle/vim-jsonpath
	url = git@github.com:mogelbrod/vim-jsonpath.git
[submodule "bundle/asyncomplete.vim"]
	path = bundle/asyncomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule "bundle/asyncomplete-lsp.vim"]
	path = bundle/asyncomplete-lsp.vim
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
[submodule "bundle/async.vim"]
	path = bundle/async.vim
	url = git@github.com:prabirshrestha/async.vim.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
